@namespace Oniqys.Blazor.Controls.Layouter
@using Oniqys.Blazor.ViewModel;

@inherits Panel<TComponent, TItem>
@typeparam TComponent where TComponent: ViewComponentBase<TItem>
@typeparam TItem where TItem: ContentBase

<ul style="list-style: none;">
    @foreach (var child in Children)
    {
        <li style="margin-left: 0px;">
            @child
        </li>
    }
</ul>
