@namespace Oniqys.Blazor.Controls.Layouter

@inherits Panel<TComponent, TItem>
@typeparam TComponent
@typeparam TItem

<ul style="list-style: none;">
    @foreach (var child in Children)
    {
        <li style="display: inline-block;">
            @child
        </li>
    }
</ul>
