@namespace Oniqys.Blazor.Controls
@using Oniqys.Blazor.ViewModel
@inherits ButtonBase<Selectable<TItem>>
@typeparam TItem

<div style="display: block;">
    <span style="display: inline;">
        @if (DataContext != null)
        {
            <CheckBox DataContext="@DataContext" />
            @ChildContent(DataContext)
        }
    </span>
</div>

