@namespace Oniqys.Blazor.Controls
@using Oniqys.Blazor.ViewModel
@inherits ButtonBase<Selectable<TItem>>
@typeparam TItem

<div style="display: block;">
    <span style="display: inline;">
        @if (DataContext != null)
        {
            <CheckBox DataContext="@(DataContext as Selectable)" />
            @if (DataTemplate != null)
            {
                <View DataContext="@DataContext.Content">
                    @DataTemplate(DataContext.Content)
                </View>
            }
        }
    </span>
</div>


@code {
    [Parameter]
    public RenderFragment<TItem> DataTemplate { get; set; }
}
