<h3>ItemsControl</h3>
@using Oniqys.Blazor.ViewModel;

@code {
    [Parameter]
    public Panel? ItemsPanel { get; set; }

    [Parameter]
    public ObservableCollection<ComponentBase> ItemsSource { get; set; } = new ObservableCollection<ComponentBase>();

}
